* {
    box-sizing: border-box;
  }
  body {
    background-color: #164ea3;
    color: navy;
    font-family: "Roboto", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
  }
  h1 {
    color: rgb(255, 255, 255);
    font-size: 5rem;
    text-align: center;
    opacity: 0.7;
  }
  
  form {
    box-shadow: 1px 1px 10px rgb(138, 229, 245);
    max-width: 100%;
    width: 400px;
   }
  
  .input {
    border: none;
    color: navy;
    font-size: 2rem;
    padding: 1rem 2rem;
    display: block;
    width: 100%;
  }
  
  .input:focus {
    outline-color: navy;
  }
  
  .input::placeholder {
    color: #e6e3e3;
  }
  
  .todos {
    background-color: rgb(191, 235, 247);
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  .todos li {
    border-top: 1px solid #164ea3;
    font-size: 1.5rem;
    padding: 1rem 2rem;
  }
  
  .todos li.completed {
    color: #b6b6b6;
    text-decoration: line-through;
  }
  
  .description {
    color: rgb(255, 255, 255);
    margin-top: 2rem;
    font-size: 1.2rem;
    text-align: center;
    opacity: 0.7;
    font-family: "Roboto", sans-serif;
  }
  
  .description a {
    text-decoration: none;
    cursor:default;
  }
  
  .description .left {
    color: lightgreen;
    font-weight: 700;
    font-size: 1.4rem;
  }
  .description .right {
    color: red;
    font-weight: 700;
    font-size: 1.4rem;
  }
  
  @media screen and (max-width: 450px) {
    form {
      width: 300px;
    } 
    
    h1 {
      font-size: 3rem;
    }
  }